# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

pkg/monitoring/windows/** text eol=crlf
tools/gyp/test/win/** text eol=crlf
deps/breakpad/src/testing/gtest/msvc/** text eol=crlf
*.bat text eol=crlf

*.png binary
